<scc>
<div class="col-md-8">

  <div id="content" >
    <input type="text" name="" ng-model="gog">
    <!-- <ul class="list-group">  -->
    <button ng-click="scc.motaro(gog)" ng-disabled="false">check</button>
    <div ng-repeat="items in scc.items | spliceFun: scc.start">
      <div class="list-group-item row" ng-repeat="item in scc.node = (items.slides | filter:{id:scc.gogo, title: scc.gog}) | startFrom: scc.startingItem() | limitTo: scc.itemsPerPage" >
      <div class="col-md-4">
        <img ng-src="img/{{item.img}}">
      </div>
      <div class="col-md-6">
        {{item.title}}
      </div>
       <div class="col-md-2">
         {{item.price | currency}}
       </div> 
      </div>
      </div>
    <!-- </ul> -->
    <div id="pagination" class="row">
    <span>{{scc.node.length}}</span>
      <button class="pull-left btn btn-primary btn-sm" ng-disabled="scc.firstPage()" ng-click="scc.pageBack()">Назад</button>
      <span>{{scc.currentPage+1}} из {{scc.numberOfPages()}}</span>
      <button class="pull-right  btn btn-primary btn-sm" ng-disabled="scc.lastPage()" ng-click="scc.pageForward()">Вперед</button>
    </div>
  </div>
</div>

</div>
<div class="col-md-4">
  <div ng-click="scc.play()" style="cursor: pointer">Игры</div>
  <div>DLS</div>
  <div>shooter</div>
  <div ng-click="scc.each(0)" style="cursor: pointer">strateg</div> 
  <div ng-click="scc.each(1)" style="cursor: pointer">racing</div>
  <div ng-click="scc.each(2)" style="cursor: pointer">quest</div>  

</div>
</scc>